@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,100;0,400;0,700;1,200&display=swap');
html{
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    overflow:hidden
}
body{
    position:initial;
    font-family:Ysabeau,Helvetica,sans-serif;
    font-size:14px;
    font-weight:400;
    margin:0;
    width:100%;
    height:100%;
    min-height:100%;
    background: #021b31;
    background: -webkit-linear-gradient(to right,#2e5575,#021b31);
    background: linear-gradient(to right,#2e5575,#021b31);
    overflow-y:auto;
    overflow-x:hidden
}
.container{
    height: auto;
    width: 100vw;
    display: flex;

}
a{
    text-decoration: none;
    color:#021b31;
}
.content{
    display:flex;
    flex-flow:column;
    position:relative;
    -webkit-box-flex:0;
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:1240px;
    margin:3% auto;
    padding:40px 70px 60px;
    background-color: #ddf8fd; 
    color:#021b31; 
    -webkit-box-shadow:0 0 40px -10px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 40px -10px rgba(0,0,0,.2);
    box-shadow:0 0 40px -10px rgba(0,0,0,.2);
    border-radius:40px;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden
}
.title-item{
    padding-bottom: 1em;
    padding-top: 1em;
    font-weight: bold;
}

header{
    display:block;
    width:100%;
    padding-bottom:5px;
    position:relative;
    border-bottom: solid 5px #021b31;;
}
.home-photo{
    display:block;
    position:relative;
    padding-bottom:calc(100% - 50px);
    border-radius:1000px;
    overflow:hidden;
    background-color:#021b31;;
    border:18px solid#021b31;;
    -webkit-box-shadow:0 0 25px 0 rgba(0,0,0,.8);
    -moz-box-shadow:0 0 25px 0 rgba(0,0,0,.8);
    box-shadow:0 0 25px 0 rgba(0,0,0,.8)
}
.home-photo .home-photo-inner{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:auto;
    display:block;
    position:absolute;
    top:-18px;
    bottom:-18px;
    width:auto;
    left:-18px;
    right:-18px;
    background-image: url(../images/PlopezFoto.png)
}
.home-buttons{
        margin-top:27px
}
.logo-symbol{
    float:left;
    width:44px;
    height:44px;
    line-height:44px;
    background-color:#0a2a46;
    border-radius:100px;
    text-align:center;
    color:#fff;
    font-size:28px;
    font-weight:800;
    margin-right:8px;
    margin-top:4px
}
.logo-text{
    float:left;
    line-height:50px;
    font-size:20px;
    color:#fff;
    font-weight:600
}
.logo-text span{
    font-weight:400
}
.header-image{
    float:left;
    margin-right:10px
}
.item{
    width:100%;
    padding:0 1em 2em
}
.home-text{
    text-align:left;
    padding-right:10px
}
.home-text.hp-left{
    padding-left:25px;
    padding-right:0
}
.home-text h1{
    font-size:48px;
    line-height:56px;
    margin-top:0;
    margin-bottom:20px;
    color:#021b31;;
}
.home-text h4{
    font-size:16px;
    color:#021b31;;
    font-weight:300;
    margin-bottom:10px
}
.home-buttons{
    margin-top:27px
}
.item-ref-principal{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom:12px;
    margin-top: 12px ;
}
.item-ref-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom:2px;
    margin-top: 2px ;
}
.item-ref-des{
    font-size: 10px;
    text-transform: capitalize;
    margin-bottom:2px;
    margin-top: 2px ;
}
ul{
    margin-top: 16px;
    padding: 0px;

}
li{
    margin-top: 16px;
}
.col{
    border-left: solid 1px #021b31;;
    margin-top: 15px;
}
.row{
    padding-top: 15px;
}
.avatar-name{
    top: -400px;
}